@font-face {
    font-family: grass ;
    src: url(fontes/Coolvetica\ Rg\ Cond.otf);
    font-size: normal;
}
body{
   
    background-color: white;
}



h1{
    font-family: grass;
    font-size: 4em;
    margin-top: -1%;
    margin-left: 10%;
    margin-right: 10%;
    color: #142601;
}

.titulo{
    margin-left: 15%;
    font-family: grass;
    font-style: italic;
    font-size: 2em;
    
}

h2{
    margin-right: 9%;
    
    
}

p{
    
    margin-right: 10%;
    margin-top: -2%;
    color: white;
}

a{
    text-decoration: none;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

ul{
    display: flex;
    justify-content:space-evenly;
    background-color: #142601;
    height: 40px;
    width: 1850px;
    margin-right: 10%;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    border-radius: 10px; 
}

p{
    color:black;

}

li{
    
    margin-right: 8%;
    margin-top: 0.5%;
    transition: 0.5s;
    

}

li:hover{
    transform: scale(1.2);
    font-size: 17px;
}

h2{
    font-family: grass;
    text-align: center;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
    
}
.cards {
    display: flex;
    flex-wrap: wrap;
    border: #83A637;
    gap: 20px;
    justify-content: space-evenly;
    margin-right: 7%;
    margin-top: 5%;
}

.card {
    background-color: white;
    border: #83A637;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content p {
    margin-bottom: 10px;
}

.card:hover {
    
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}

h3{
    color:#748C4F;
}

.produto{
    margin-left: 40%;
    font-family: grass;
    color: #142601;
    font-size: 4em;
    margin-top: 5%;
}

.top{
    margin-left: 50%;
    margin-top: -6%;
    color: #83A637;
}

footer{
    color: white;
    text-align: center;
    margin-top: 10%;
    background-color: #748C4F;
    border-radius: 10px;
}