*{
    margin: 0;
    padding: 0;
}

:root{
    --corparagrafo:#021E29;
    --corbackground:#c5b89249;
    --cortitulo:#3D5F39;
}

body{
    height: 100vh;
}

h1{
   font-size: 4em;
   text-transform: uppercase;
   font-weight: bolder;
}

.cabecalho{
    position: relative;
    height: 950px;
    background-image: url(../img/imagem\ -tiago-1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.cabecalho article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    color: var(--corparagrafo);   
}

 .btn-contato p{
    text-align: center;
    position: absolute;
    top: 46%;
    left: 20%;
    width: 200px;
    text-transform: uppercase;
    font-weight: bolder;
    color:var(--corparagrafo);
    padding: 20px;
    border-radius: 35px;
    border: 1px solid var(--corparagrafo);
    transition: 1s;
 }

 .btn-contato p:hover{
    background-color: rgba(255, 255, 255, 0.377);
    cursor: pointer;
 }

 .corpo{
    position: relative;
    background-color: var(--corbackground);
    line-height: 50px;
 }

 .corpo img{
    margin-left: 5%;
    width: 35%;
    border-radius: 20px;
    padding-top: 20px;
 }

 .corpo article{
    position: absolute;
    top: 40%;
    left: 50%;    
 }

 .corpo article h2{
    color: var(--cortitulo);
    font-size: 3em;


 }

 .corpo article p{
    color: var(--corparagrafo);
    font-size: 2em;
    text-align: start;
 }
 .paralax{
    position: relative;
 }

 .paralax h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 3em;
    text-transform: uppercase;
 }

.paralax p{
    color: white;
}

 #foto-1{
    height: 1000px;
    background-image: url(../img/campo\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
 }

 #foto-2{
   position: relative;
   height: 1000px;
   background-image: url(../img/campo\ 2.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }

 #foto-2 p{
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   font-weight: bold;

   text-transform: uppercase;
   font-size: 1.5em;
   text-align: center;
 }

 .orcamento{
    position: absolute;
    top: 40% ;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 35px;
    padding: 20px;
    font-size: 1.5em;
    transition: 1s;
 }

 .orcamento:hover{
    background-color: rgba(255, 255, 255, 0.342);
    cursor: pointer;
 }

.manutencao{
   position: relative;
   height: 870px;
   background-color: var(--corbackground);
}

.manutencao img{
   width: 470px;
   padding: 20px 0px 20px 0px;
   margin-left: 8%;
   border-radius: 5%;
}

.manutencao-cnt{
   position: absolute;
   top: 50%;
   left: 65%;
   transform: translate(-50%, -50%);
}

.manutencao-cnt h2{
   font-size: 3em;
   color: var(--cortitulo);
}

.manutencao-cnt p{
   
   font-size: 2em;
   color: var(--corparagrafo);
}



 .contato img{
   width: 25px;
 }

 footer{
   height: 100px;
   background-color: var(--corparagrafo);
   text-align: center;
   color: white;
   text-transform: uppercase;
   font-weight: bolder;
 }

